---
import LoginPage from '@/components/login-page.vue'

console.log(Astro.locals.pb.authStore)

const authMethods = await Astro.locals.pb.collection('users').listAuthMethods()
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Astro</title>
  </head>
  <body>
    <LoginPage
      client:only="vue"
      authMethods={authMethods}
    />
  </body>
</html>
